/*-- <CSS RESET> --*/
html, body, div, span, applet, object, iframe, h1, h2, p, a, abbr, acronym, address, big, cite, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border:0; font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; padding:0; outline:0; vertical-align:baseline;
}
/* remember to define focus styles! */
:focus{
    outline:0;
}
body{ background:white; line-height:1; color:#313131; }
ol, ul{ list-style:none; }
/* tables still need 'cellspacing="0"' in the markup */
table{ border-collapse:separate; border-spacing:0; }caption, th, td{ font-weight:normal; text-align:left; }blockquote:before, blockquote:after, q:before, q:after{ content:""; }blockquote, q{ quotes:"" ""; }strong{ font-weight:700; }
/*-- </CSS RESET> --*/

html, body, div, span, applet, object, iframe, h1, h2, p, a, abbr, acronym, address, big, cite, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Verdana, Arial; 	font-size: 14px;
    color: #313131;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

body{
    background-color: #f9f9f9;
}

.page {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.header{
    height: 80px;
    border-top: solid 1px #929292;
}

.iframe-container{
    text-align: center;
    padding-top: 30px;
}

.left {
    width: 250px;
    float: left;
}

.center {
    margin-left: 250px;
}

h1 {
    font-weight:300;
    font-size: 50px;
    margin-bottom: 10px;
}

.info{
    padding-top: 20px;
}

.info .label{
    text-transform: uppercase;
    margin: 10px 0;
    font-weight:300;
    color:#909090;
}

.info .content{
    margin-top: 10px;
}

.info .content *{
    margin-right: 5px;
    line-height: 1.3em;
    font-size: 12px;
}

.day{
    margin-bottom: 5px;
    line-height: 1em;
}

.day li{
    margin-bottom: 5px;
    text-align: right;
}


.day label{
    width: 100px;

}

.day-list{

    float: right;
}

.closed * {
    color: #929292;
}

#company-title p {
    text-align: justify;
    line-height: 1.3em;
}

#iframe {
    width: 100%;
    height: 550px;
    background-color: #313131;
    border: solid 1px #313131;
    border-radius: 5px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #0a7bff;
    font-weight: 700;
}

.address a {
    padding-top: 10px;
    display: block;
    color: #0a7bff;
    font-weight: 700;
}

#logo {
    width: 90%;
}

@media screen and (max-width: 750px){

    #iframe{ width: 100%; height: 700px}
    .info{ width: 100%; }

    .info .label{
        text-transform: uppercase;
        width: 100%;
        float: none;
        margin-left:10px;
        font-weight:300;
        color:#909090;

    }

    .info .content{
        margin: 10px 0px 10px 10px;
        line-height: 1.3em;
    }

    .header{
        height: 130px;
    }

    .header .title-block .title{
        font-size: 16px;
        width: 100%;
        padding: 0;
        background-size: 0;
    }
}

.tz {
    font-size: 0.9em;
    color:#909090;
    text-transform: none;
    font-style: italic;
}

/* TipTip CSS - Version 1.2 (Modified) */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font: bold 11px Helvetica, Arial, sans-serif;
    color: #FFF;
    padding: 7px;
    background: #000;
    border: 1px solid #FFF;
}

#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: #000;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: #000;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: #000;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: #000;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 4px 8px 5px 8px;
        background-color: #000;
    }
    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: #000;
    }
    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: #000;
    }
}

.header-content {
    background-color: #1E5A95;
    min-height: 80px;
    text-align: center;
    padding-top: 20px;
    color: #FFF;
}
.header-content h1{
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
}
.nav-box.done {
    width: 600px;
    padding-left: 50px;
    background-position: top right;
}

#widget {
    border: 1px solid #1E5A95
}
#iframe {
    width: 100%;
    height: 550px;
    background-color: #313131;
    border: solid 1px #313131;
    border-radius: 5px;
    margin-bottom: 100px;
}
