* {
    box-sizing: border-box;
}
body, html {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
#appointment-form {
    background-color: #ffffff;
    font-family: Raleway;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 300px;
}
.header {
    background-color: #1d68a7;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

input:not(input[type=radio]) {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}
.mt-10 {
    margin-top: 10px;
}
.tab-title {
    background-color: #ccc;
    padding: 5px 0;
}
.tab-sections {
    padding: 5px;
}
.tab-section {
    border-bottom: 1px solid #4e555b;
    width: 100%;
}
.col-6 {
    height: 60px;
    display: flex;
    align-items:center;
    float: left;
}
.col-6 span {
    padding: 0 10px;
}
.tab-section{
    cursor: pointer;
}
#tab-area{
    width: 100%;
}
.lds-spinner {
    color: official;
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.lds-spinner div {
    margin-left: 45%;
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #666;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.radio_button input, .checkbox_button input {
    opacity: 1;
    position: relative;
}
