body, html {
    font-weight: 600;
}
.navbar-light{
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.125);
}
.form-group.has-error .form-control-label {
    color: red;
}
.form-group.has-error .form-control{
    border: 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
}
.help-block {
    color: red;
}

.form-group.has-error .form-control-label {
    color: red;
}

.form-group.has-error .form-control {
    border: 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
}
ul.wysihtml5-toolbar {
    background-color: #eee;
}
.timetable-column-content .timetable-name {
    display:none;
}
.timetable-title {
    height: 20px !important;
}
.popup-body .timetable-desc {
    text-align: center !important;
}
